<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title th:text="'Example application with ' + ${examples.size()} + ' examples.'">Example application.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="/webjars/bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/webjars/bootswatch/2.2.2+1/amelia/bootstrap.min.css" rel="stylesheet" />

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <link href="http://vitalets.github.com/x-editable/assets/x-editable/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/webjars/html5shiv/3.6.1/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Example project</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <h1>Our Examples</h1>

    <form method="POST" action="/submitExample">
        <input type="text" name="name" />
        <input type="submit" value="OK" class="btn" />
    </form>

    <div th:if="${not #lists.isEmpty(examples)}">
        <p th:each="x : ${examples}">
            <a href="#" class="example"
               data-type="text" data-url="/updateExample"
               th:attr="data-pk=${x.id}"
               th:text="${x.name}">Example</a>
        </p>
    </div>

    <p>Comedies:</p>
    <div th:if="${not #lists.isEmpty(comedies)}">
        <p th:each="x : ${comedies}">
            <a href="#" class="example"
               data-type="text" data-url="/updateExample"
               th:attr="data-pk=${x.id}"
               th:text="${x.name}">Example</a>
        </p>
    </div>

</div> <!-- /container -->

<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script src="http://vitalets.github.com/x-editable/assets/x-editable/bootstrap-editable/js/bootstrap-editable.js"></script>

<script type="text/javascript">
        $('.example').editable();
</script>

</body>
</html>
